<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.www.BasicAuthenticationEntryPoint">
        <beans:property name="realmName" value="lunchApp" />
    </beans:bean>

    <http pattern="/restaurant/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/restaurant/admin/**" access="hasRole('ADMIN')"/>
        <intercept-url pattern="/restaurant/vote/**" access="isAuthenticated()"/>
        <csrf disabled="true"/>
        <http-basic entry-point-ref="authenticationEntryPoint"/>
    </http>

    <beans:bean name="noopEncoder" class="org.springframework.security.crypto.password.NoOpPasswordEncoder"/>

    <authentication-manager>
        <authentication-provider user-service-ref="UserService">
            <password-encoder ref="noopEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>